@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
.testing-homepage {
  min-width: screen;
  min-height: screen;
  background-color: red;
}
.bg-hero {
  background-image: url("./Assets/logo.png");
}
* {
  font-family: "Inter", sans-serif !important;
}
 